*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #333c46;
  --secondary-text-color: #7b889c;
  --foreground-color: #ffffff;
  --background-color: #f2f4f8;
  --accent-color: #4278f5;
}

body {
  font-family: system-ui, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.2rem;
}

button {
  font-family: inherit;
  cursor: pointer;
}

input,
textarea {
  font-family: inherit;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.4rem;
  }
}
